﻿@model AFT.Models.BookingsModel
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

Welcome Nikiforos!<br />

<table>
    <tr>
        <th>Agent name</th>
        <th>Booking id</th>
        <th>Traveller Full Name</th>
        <th>Product Booked</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>From</th>
        <th>To</th>
    </tr>
@if (Model != null) {
    foreach (var b in Model.listBookings)
    {
        <tr>

            <td>@b.Agent_name</td>
            <td>@b.Booking_id</td>
            <td>@b.Trav_Full_name</td>
            <td>@b.Product_booked</td>
            <td>@b.Origin</td>
            <td>@b.Destination</td>
            <td>@b.From</td>
            <td>@b.To</td>

        </tr>

    }
}    
</table>