﻿@model AFT.Controllers.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="Content/Site.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm()) 
{ 
     @Html.ValidationSummary()
  
               
         @Html.LabelFor(m => m.Username)
         @Html.TextBoxFor(m => m.Username)  <br><br>                          
         <input type="submit" value="Submit" />
       
}